<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            display:flex;
            justify-content:center;
            align-items:center;
            height:10vh;
            margin:200px;
            text-align:center;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome to My Family Tree!</h1>
        <div>....</div>
        <p>This is the home page.</p>
        <a href="/about">click here to see TREE!</a>
        <div>....</div>
        <a href="/example">here is example!</a>
        <div>....</div>
        <a href="/new">here is ultimate graphGL</a>
    </div>
</body>
</html>